*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: calc(100vh - 40px);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.container{
  width: 400px;
  min-height: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fcf4f9;
  border-radius: 10px;
}

.title{
  font-size: 1.5rem;
  color: #C850C0;
  margin: 10px 0 40px;
  text-align: center;
}

/* Parte aggiungi task */
.new-tasks{
margin-bottom: 40px;
}

.new-tasks input{
  border: 1px solid #c7c7c7;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  width: 80%;
}

input:focus{
  outline-color: #C850C0;
}

button{
  cursor: pointer;
  width: calc(20% - 10px);
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #7341d0;
}

button i{
  color: #fff;
  font-size: 1rem;
}

/* Parte lista di task */
li{
  color: #c85096;
  list-style: none;
  margin-bottom: 10px;
  background: #ffeac9; 
  border-radius: 5px;
  padding: 10px 0;
}

li i{
  cursor: pointer;
  margin: 0 10px;
}